* {
    margin: 0%;
}

html {
    scroll-behavior: smooth;
}

#top {
    scrollbar-width: none;
    overflow-y: scroll;
    height: inherit;
}

body {
    overflow-y: scroll;
}

.midBar {
    position: flex;
    width: 100%;
    border-top: 2.5em solid black;
}

.shelfBar {
    position: flex;
    width: 100%;
    border-top: 25px solid #332211;
}

.bookshelf {
    /* background-color:#553311; */
    border: 25px solid 	#332211;
    background-image: radial-gradient(#553311, #5e3e17,#36220b);
}

.bookpic {
    border: 5px solid black;
}

.col {
    display: inline-block;
    float: none;
    width: 33.33%;
    /* padding: 3px; */
    /* margin-right:-4px; */
    
}

.row {
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 10px;
    top: 50%;
    left: 50%;
    margin: 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.genre {
    display: inline-block;
    color: #c5832b;
    background-color:  #c3b091;
    /* border: 3px solid black; */
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
}

.descr {
    background-color: black;
    /* background-image: radial-gradient(#553311, #5e3e17,#36220b); */
}

#desc {
    color: wheat;
    padding: 20px;
    margin: 0 auto;
    max-width: 40%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Code below is for the background image */
.Back_IMG img {
    position: relative;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -1;
    vertical-align: bottom;
    filter: brightness(0.45) saturate(1);
    /* opacity: 0.9; */
}

/* Black bar for top: TODO: play around with colors */
.TopBlackbar {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 2.5rem solid black;
}
/* Code below is for the text at the top of bar */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    align-items: left;
    z-index: 999999;
}

header ul {
    display: flex;
    justify-content: right;
    align-items: center;
    overflow: hidden;
    margin: 0;
}

header ul li {
    list-style: none;
    padding-top: 7.5px;
}

header ul li a {
    text-decoration: none;
    font-family: monospace;
    padding: 4px 10px;
    color: white;
    border-radius: 15px;
    font-size: 17px;
}

header ul li a:hover {
    background: white;
    color: black;
}

section {
    position: absolute;
    font-size: x-large;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    color: #dfd8c8;
}

.quote {
    padding-top: 10px;
    font-size: medium;
    text-align: right;
}

desc, a {
    color: inherit;
    text-decoration: underline;
   }